<!DOCTYPE html>
<html>
  <head>
    <title>2018-09-12~の紋章キャンペーンやった？</title>
  </head>
  <body>
    <div>
      2018-09-12~の紋章キャンペーンやった？
    </div>
    <div>
      <table>
        <tr>
          <td></td><td>目標[1]</td><td>緊急クエスト「禍魂集いし戦道2018」を1回クリア</td><td>「王者の紋章」×10個</td>
          <td></td><td>目標[2]</td><td>緊急クエスト「禍魂集いし戦道2018」を3回クリア</td><td>「王者の紋章」×10個</td>
          <td></td><td>目標[3]</td><td>アルティメットクエスト「壊世調査：リリーパ」を1回クリア</td><td>「王者の紋章」×10個</td>
          <td></td><td>目標[4]</td><td>アルティメットクエスト「壊世調査：リリーパ」を2回クリア</td><td>「王者の紋章」×10個</td>
          <td></td><td>目標[5]</td><td>NPC「ニレンカムイ」のクライアントオーダー<br />「戦いの先に、求めるもの」をクリア</td><td>「王者の紋章」×10個</td>
        </tr>
      </table>
    </div>
    <div>
      <p><a href="<%= url %>"><%= url %></a> から<%= now %>に生成しました</p>
      <%- if auto -%>
      <p>自動生成した結果を表示しています。何かおかしければ @wataken44 まで</p>
      <%- end -%>
    </div>
  </body>
</html>
